<template>
  <section class="hero is-light">
    <div class="hero-head">
      <nav class="level">
        <div class="level-left">
          <div class="level-item is-size-3">
            <img src="~/assets/logo.png" class="logo" />
            <strong>socialissues.tech</strong>
          </div>
        </div>

        <div class="level-right">
          <p class="level-item">
            <a
              href="https://gitlab.com/coopdevs/socialissues"
              target="_blank"
              rel="noopener"
              class="button button is-light is-inverted"
            >
              <b-icon icon="git" />
              <span>{{ $t('view_source') }}</span>
            </a>
          </p>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">{{ $t('moto') }}</h1>
        <h2 class="subtitle">
          {{ $t('submoto') }}
        </h2>
      </div>

      <div class="container has-text-centered">
        <button
          slot="trigger"
          class="button is-text"
          @click="isModalActive = true"
        >
          {{ $t('what_is_this') }}
        </button>
      </div>
    </div>
    <b-modal :active.sync="isModalActive" has-modal-card>
      <about-modal />
    </b-modal>
  </section>
</template>

<script>
import AboutModal from './AboutModal.vue'

export default {
  name: 'AppHeader',
  components: {
    AboutModal
  },
  data() {
    return {
      isModalActive: false
    }
  }
}
</script>

<style scoped>
.hero-head {
  padding: 1rem;
}

.logo {
  height: 70px;
}
</style>
